<!--mat-toolbar color="primary">
  <span>
    <a routerLink="/">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
  </ul>
</mat-toolbar-->
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        <a href="/" id="A2">
                            <img id="Logo"
                                src="assets/logo.jpg" style="border-style: None;"></a>
                    </p>
                </div>
                <div class="float-right"><a class="btn btn-sm btn-primary" routerLink="/product" routerLinkActive="mat-accent">Products</a>
               &nbsp; <a  class="btn btn-sm btn-primary" routerLink="/cart" routerLinkActive="mat-accent">Cart</a>
                </div>
            </div>
        </header>
