    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <form action="Cars" id="ctl01" method="post" name="ctl01">

        <div id="body">
            <section class="featured">
                <div class="content-wrapper">
                    <div id="hgroup"  class="title">
            <div class="content-wrapper">
                <div class="float-left">
                    <h1>Products</h1>
                </div>
                <div class="float-right" >
                <table><tr><td>
                Category : <select #SelectCategory style="width:70px" (change)="searchByCategory(SelectCategory.value)">
      <option value="" >   </option>
      <option *ngFor="let cat of categoryList" [value]="cat.id" >{{cat.categoryName}}</option>
</select></td>
           <td>   Toy Name : </td> <td>
                <input type="text" #InputName style="width:70px;height:20px" class="form-control input-sm"   /></td><td>
<a  class="btn btn-sm btn-primary" (click)="searchByName(InputName.value)"><svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 20 20" width="20"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg></a>
       </td></tr></table>
                </div>
            </div>
                    </div>

                    <section class="featured">
                        <div style="margin-left: 2em">
                            <table>
                                <tr>
                                    <td style="width: 30%;vertical-align:top;">
                                        <div   class="title ">
                                            <h1>Wingtip Toys</h1>
                                            <h2>Wingtip Toys can help you find the perfect gift</h2>
                                        </div>
                                        <p>
                                            We're all about transportation toys. You can order
                                    any of our toys today. Each toy listing has detailed
                                    information to help you choose the right toy.
                                        </p>
                                    </td>
                                    <td>
                                        <table>
                                          <tr  *ngIf="productList?.length == 0">
                                            <td style="color:red">No data found!</td>
                                          </tr>
                                            <tr *ngFor="let product of productList">
                                                <td>
                                                    <a [routerLink]="['/productdetail', product.id]">
                                                    <img border="1" height="75" src="assets/{{product.imagePath}}" width="100"></a>
                                                </td>
                                                <td><a [routerLink]="['/productdetail', product.id]">{{product.productName}}</a>
                                                <br>
                                                    <span class="ProductPrice">
                                                        <strong>Price:</strong>
                                                        {{product.unitPrice}}</span>
                                                <br>
                                                <!--button mat-raised-button color="accent"></button-->
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </section>
                </div>
            </section>
            <section class="content-wrapper main-content clear-fix"></section>
        </div>
    </form>
